body {
  font-family: "Ubuntu", sans-serif;
}

#title {
  text-align: center;
}

#upperDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
